@import '../../../styles/utils';

:host {
  display: block;
}

::slotted(*) {
  display: block;
  margin: 0 auto;
  padding: 15vw 0;
  width: 30vw;
}

h1 {
  font-size: calc(var(--font-size-base) * 2);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}
