// Core CSS required for ionic components to work property
@import '~@ionic/core/css/core.css';

// Basic CSS for apps built with Ionic
@import '~@ionic/core/css/normalize.css';
@import '~@ionic/core/css/structure.css';
@import '~@ionic/core/css/typography.css';

// Optional CSS utils that can be commented out
@import '~@ionic/core/css/padding.css';
@import '~@ionic/core/css/float-elements.css';
@import '~@ionic/core/css/text-alignment.css';
@import '~@ionic/core/css/text-transformation.css';
@import '~@ionic/core/css/flex-utils.css';

// Custom styles
@import 'utils';

@include font-face('Baloo Bhai', '/assets/fonts/baloo-bhai/baloo-bhai-latin-400', 400, normal);

:root {
  --color-transparent: #{$color-transparent};
  --color-white: #{$color-white};
  --color-grey-70: #{$color-grey-70};
  --color-grey-30: #{$color-grey-30};
  --color-grey-20: #{$color-grey-20};
  --color-black: #{$color-black};

  --color-orange-light: #{$color-orange-light};
  --color-orange: #{$color-orange};
  --color-blue-light: #{$color-blue-light};
  --color-blue: #{$color-blue};
  --color-blue-dark: #{$color-blue-dark};

  --font-face-default: #{$font-face-default};
  --font-size-base: #{$font-size-base};
  --font-weight-regular: 400;

  --base-size: 20px;

  --ion-font-family: var(--font-face-default);
}

ion-content {
  @include useGradient();
}

ion-button {
  --border-radius: 2.8em;
}
