@import '../../../styles/utils';

:host {
  color: var(--icon-color, currentColor);
  display: block;
  padding: var(--icon-spacing, 0);
  height: var(--icon-height, auto);
  width: var(--icon-width, 100%);
  font-size: 0;
}

::slotted(svg) {
  height: 100%;
  width: 100%;
}
