/// basic colors
$color-transparent: transparent !default;
$color-white: #fff !default;
$color-grey-70: #b4b4b4 !default;
$color-grey-30: #4d4d4d !default;
$color-grey-20: #333 !default;
$color-black: #000 !default;

/// cd colors
$color-orange: #ffde7f !default;
$color-blue-light: #0faec7 !default;
$color-blue: #326789 !default;
$color-blue-dark: #272d5b !default;
