// basic colors
$color-transparent: transparent !default;
$color-white: #fff !default;
$color-grey-70: #b4b4b4 !default;
$color-grey-30: #4d4d4d !default;
$color-grey-20: #333 !default;
$color-black: #000 !default;

// cd colors
$color-orange: #f8ba33 !default;
$color-blue-light: #e0f2fb !default;
$color-blue: #009ee0 !default;
$color-green: #97bf0d !default;
