/// basic colors
$color-transparent: transparent !default;
$color-white: #fff !default;
$color-grey-70: #b4b4b4 !default;
$color-grey-30: #4d4d4d !default;
$color-grey-20: #333 !default;
$color-black: #000 !default;

/// cd colors
// background
$color-orange: #ffde7f !default;
// cta buttons
$color-blue-light: #0faec7 !default;
// secondary buttons
$color-blue: #181d67 !default;
