@import '../../../styles/utils';

:host {
  display: block;
  padding: var(--base-size) calc(var(--base-size) * 1.25);

  background: var(--color-white);
  border: 2px solid var(--color-orange);
  border-radius: var(--base-size);
  text-align: left;
}

header {
  display: flex;
  flex-direction: row;

  section {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  aside {
    display: flex;
    flex-direction: row;
  }
}

.avatar {
  height: calc(var(--base-size) * 1.3);
  width: calc(var(--base-size) * 1.3);
  margin-left: calc(var(--base-size) * .5);

  background: var(--avatar-image) no-repeat center center / cover;
  border-radius: 50%;
}

h2, time, address {
  font-size: 1.7rem;
  font-style: normal;
  line-height: 2.7rem;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-regular);
}

address {
}

p {
  font-size: 1.3rem;
  line-height: 2.1rem;
}
